@media (max-width: 1921px) {
    .counter_name{font-size:18px;line-height: 24px;margin-bottom:0;}
    .hero_overlay_ctnt .btn_1{border: 1px solid transparent;}
    .about-slider .swiper-pagination {bottom: 0px !important;width:100%!important;}
    .hero_catologue_head p{margin:30px 0;}
    /*.hero_cat_slider .swiper-slide.swiper-slide-active{margin-inline:50px}*/
    .ym_cat .slick-slide{margin-inline:20px}

}
@media (max-width: 1800px) {
    .hero_overlay_ctnt_h1 {font-size: 70px;line-height: 80px;}
    .hero_breadcrumb{gap:10px;font-size: 16px;}
    .col_small .title_60lora{white-space: break-spaces!important;}
    /*.container_main {gap: 10px;}*/
    /* .col_big .product_grid {grid-template-columns: repeat(3, minmax(0, 320px));} */
    .ym_card{width:340px;height: 400px;}
    .product_wrapper .Product_item, .ym_card_img, .ym_slider, .ym_cover_slider, .product_img, .ym_slider img{height: 360px;}
    .container_main_boy{gap:60px;}
    .Product_item{height:100%;}
    .hero_img_wrapper img{height:500px;}
    .hero_why_content{max-width: 700px;max-height: 430px;padding: 50px;}
    .title_30-raleway{font-size:25px;line-height:30px}
}
@media (max-width: 1537px) {
    .ym-container{max-width: 1460px;}
    .stat_box_wrapper{gap:15px;}
    .hero_why_content{transform: translate(-40%, 0%);}
    /*.hero_cat_slider .swiper-wrapper {gap:30px;}*/
    .hero_cat_slider .swiper-slide {overflow: hidden;}
    .stats_des{margin-bottom:0;}
    .slider-wrapper {height: calc(100vh - 33vh);}
    .hero_img_wrapper img{height:436px;}
    /* .ym_slider .slick-dots{bottom: 36% !important;} */
}
@media (max-width: 1441px) {
    .ym-container{max-width: calc(100% - 60px);}
    /*.stats_box{height:100%;width:100%;padding: 30px 50px;}*/
    .stats_box{padding: 30px 50px;}
    .btn_1{padding: 10px 20px;font-size: 12px;}
    .card_pill{font-size: 16px;}
    .stat_box_wrapper{padding-bottom: 00px;}
    .ym-project .btn_wrapper{justify-content: flex-start;}
    .hero_overlay_ctnt{transform: translateY(20%);}
    .comp_bus_child.expanded, .comp_bus_child:hover{height: 480px;padding: 30px 0px 30px 30px;flex: 2.2;}
    .comp_bus_child{padding:30px;height:250px;}
    .comp_bus_back{padding:30px;}
    .hero_cat , .grow_wrapper{padding: 50px 0;}
    .why_slide{gap:10px;}
    .swiper_number_pagination{margin-bottom:20px;}
    .slider-wrapper {height: calc(100vh - 33vh);}
    /*.stat_box_wrapper{margin-bottom: 100px;}*/
    .ym-container.mob_ym_container {max-width:calc(100%)!important;padding-inline: 10px;}
}
@media (max-width: 1367px) {
    .hero_why_content {transform: translate(-53%, 0%);}
    .product_wrapper .Product_item, .ym_card_img, .ym_cover_slider, .product_img, .ym_slider{height: 330px;}
    .ym_card {width: 320px;height: 370px;}
    .container_main_boy, .container_main_girl{gap:30px;}
    .hero_img_wrapper img{height:475px;}
    .comp_bus_back{padding: 30px 35px 30px 35px;}
    .swiper_number_pagination{margin-bottom:30px;}
    /* .ym_slider .slick-dots{bottom: 38% !important;} */
}
@media (max-width: 1281px) {
    /*.ym-container{max-width: calc(100% - 200px);}*/
    .stats_wrapper .title_30-raleway{font-size: 20px;line-height: 32px;}
    .home_mt-100 {margin-top: 70px;}
    .hero_overlay_ctnt{max-width: calc(100% - 40px);}
    .hero_why_content {transform: translate(-13%, 0%);}
    .hero_overlay_ctnt_h1{font-size: 60px;line-height: 67px;}
    .hero_overlay .btn_wrapper{margin-top:40px;}
    .stat_counter{font-size: 48px; line-height: 43px;}
    /*.stats_box{gap:0px;}*/
    /*.home_brand_bg{margin-top:0;}*/
    .title_60lora{font-size: 40px; line-height: 42px;}
    .col_small .title_60lora{white-space: nowrap!important;}
     /* homepage hover card */
    .comp_bus_child{padding: 15px 20px;height: 190px;}
    .comp_bus_child.expanded, .comp_bus_child:hover{height: 370px;padding: 15px 20px 15px 15px;}
    .comp_bus_child.expanded, .comp_bus_child:hover {flex: 2.2;}
    .comp_bus_child.expanded{height: 460px;}
    .core_wrapper .slick-slide{margin-inline:20px;}
    .comp_bus_back {padding: 24px 30px;}
    .comp_bus_back_bt{padding-inline:00px;}
      /* homepage hover card */
    .stats_box{padding: 27px 40px;gap:20px;margin-top:40px;} 
    .stat_box_wrapper {gap: 50px;}
    .ym_card {width: 300px;height: 370px;} 
    .hero_img_wrapper img {height: 360px;} 
    /* .ym_slider .slick-dots {bottom: 34% !important;} */
    /*homepage css*/
    .comp_bus_num{font-size: 16px;line-height: 20px;letter-spacing: -0.01em;}
    .comp_bus_back img, .comp_bus_front img{width:100%!important;;height:auto!important;margin-bottom:20px;}
    .comp_bus_child.expanded .comp_bus_num, .comp_bus_child:hover .comp_bus_num {font-size: 20px;line-height: 20px;}
    .comp_bus_ext{font-size: 14px;line-height: 18px; padding-top: 20px;margin-top: 10px;margin-bottom: 0px;}
    .why_slide .title_60lora{font-size: 32px;line-height: 33px;}
    .project-card:not(.active) .card_top img{width:190px; height:auto;}
    .card_desc{margin-bottom:30px;}
    .tags{margin-bottom:20px;}
    .project-card .btn_wrapper{margin-top:0;}
    .project-card{max-height: 600px;min-height: 600px;padding:20px;}
    .project-card.active .project-content{height:100%;justify-content:space-between;}
    .card_pill{font-size: 12px;line-height: 14px;padding: 6px 10px;}
    .card_title{font-size: 20px;line-height: 26px;}
    .p_type{font-size: 12px;}
    .hero_why_content{width:500px;}
    .hero_why_wrapper img{width:640px;height:400px;}
    .title_24-raleway{font-size:16px;line-height:24px;}
    .btn_wrapper{margin-top:40px;}
    .home_brand_bg{margin-top:40px;}
    .ft_icons svg{height:24px;width:24px;}
    .home_brand_bg{gap:80px;}
    .home_brand_bg img {width: 180px;}
    footer p{line-height:22px;}
    /*homepage css*/
}
@media (max-width: 992px) {
    .hero_why_content{width:100%;}
    footer p{line-height:normal;}
    .project-card:not(.active) .card_top img{width:100%;height:100px;object-fit:contain;}
    .stat_box_wrapper{grid-template-columns: repeat(2, 1fr);}
    .hero_overlay_ctnt {transform: translateY(10%);}
    .title_30-raleway {font-size: 24px;line-height: 34px;}
    .home_brand_bg img{width: 150px;}
    .hero_img_wrapper {display: none;}
    .container_main_boy, .container_main_girl, .product_detail_grid {grid-template-columns: 1fr;}
    .container_main_girl .col_small{order:-1;}
    .col_big .product_grid {grid-template-columns: repeat(3, minmax(0, 100%));}
    .hero_why_wrapper > div{flex-direction:column;gap:20px;}
    .hero_why_content{transform: translate(0%, 0%);padding: 20px;}
    .comp_bus_child.expanded{height:550px;}
    .core_wrapper .slick-slide{margin-inline:30px;}
    /* homepage hover card */
    .comp_bus_child.expanded .comp_bus_num,
    .comp_bus_child .comp_bus_num {
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 0;
    }
    .comp_bus_child.expanded,
    .comp_bus_child {
        flex: 2.5;
        height: 400px;
        padding: 37px 0px 30px 46px;
        z-index: 10;
    }
    .comp_bus_child.expanded .comp_bus_front,
    .comp_bus_child .comp_bus_front {
        opacity: 0;
    }
    .comp_bus_child.expanded .comp_bus_back,
    .comp_bus_child .comp_bus_back {
        opacity: 1;
    }
    /* homepage hover card */
    /*.projects-desktop{flex-direction:column;}*/
    /*.category-img{display:none;}*/
    .products_filter_grid{grid-template-columns: repeat(3, 1fr);}
    .pd_left{margin-bottom: 30px;}
    .ym_para_home{padding:0 5px;}
}

@media screen and (max-width: 769px) {
        .ym-container.mob_ym_container {padding-inline: 0px;}
    .hero_overlay_ctnt_h1{font-size: 36px;line-height: 56px;margin-bottom:0;}
    .hero_breadcrumb{margin-top: 20px;}
    .title_60lora{font-size: 28px;line-height: 32px;}
    .comp_bus_child.expanded .comp_bus_num{font-size: 26px;line-height: 26px;}
    .home_brand_bg{flex-direction:column;gap:30px;}
    .col_big .product_grid {grid-template-columns: repeat(1, 1fr);}
    .category-img{display:block;}
    .hero_cat_slider .swiper-wrapper{gap:10px;}
    .projects-desktop {flex-direction: column;gap: 20px;}
    /* .col_big .product_grid{height:450px;} */
    /* .product_wrapper .Product_item{height: 400px;} */
    .product_wrapper{margin-inline: auto;}
    .slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0;
    bottom: -18px !important;
}

.slick-dots li {
    margin: 0 !important;
    padding: 0 !important;width: 20px;height: 5px;display: flex;align-items: center;justify-content: center;border-radius: 100px;}

.slick-dots li button:before {display: none;}

.slick-dots li button {width: 10px;height: 5px;border-radius: 100px;background-color: #D7C7E9;padding: 0;transform: scaleX(0.95);transform-origin: center;transition: all 0.3s ease-in;}

.slick-dots li.slick-active button {width: 20px;background-color: #452667;transform: scaleX(1);transition: all 0.3s ease-out;}
    .project-card {
        max-height: 150px;
        min-height: 150px;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 20px;
        cursor: pointer;
        transition: max-height 0.6s cubic-bezier(0.22, 1, 0.36, 1),
                    min-height 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }

    /* Collapsed state */
    .project-card:not(.active) {
        max-height: 150px;
        min-height: 150px;
    }

    /* Expanded state */
    .project-card.active {
        max-height: 800px;
        min-height: 600px;
    }

    /* Card top section adjustments */
    .project-card:not(.active) .card_top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: auto;
        width: 100%;
    }

    .project-card:not(.active) .card_top_head {
        display: block;
    }

    .project-card:not(.active) .category-img {
        max-width: 50px;
        height: 90px;
    }

    .project-card.active .card_top {
        display: none;
    }

    /* Content animations for mobile */
    .project-content {
        transform: translateY(20px);
        opacity: 0;
        width: 100%;
    }

    .project-card.active .project-content {
        display: flex;
        transform: translateY(0);
        opacity: 1;
        scale: 1;
        transition: all 0.6s ease-out;
    }

    .project-card.active .card_top_head {
        display: block;
        margin-bottom: 20px;
    }

    /* Adjust title and description sizes for mobile */
    .card_title {
        font-size: 24px;
        line-height: 32px;
    }

    .card_desc {
        font-size: 14px;
        line-height: 18px;
    }

    /* Adjust tags grid for mobile */
    .tags {
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        gap: 10px;
    }

    .card_pill {
        font-size: 14px;
        padding: 8px 20px;
    }

    .p_type {
        font-size: 14px;
        padding: 8px 20px;
    }

    .card_subtitle {
        font-size: 16px;
        margin-bottom: 15px;
    }    
    .products_filter_grid{grid-template-columns: repeat(2, 1fr);}
    .ym_card {width: 260px;height: 370px;}
    .slid_bottom{display: none;}
    .slid_pagination_number{display: block;}
    .stat_box_wrapper{margin-bottom:0;}
}

/* Extra small devices */
@media screen and (max-width: 576px) {
    .home_mt-100{margin-top:50px;}
    .hero_overlay_ctnt_h1 {font-size: 27px;line-height: 38px;}
    .hero_overlay{font-size:16px;}
    .hero_overlay .btn_wrapper{margin-top: 20px;}
    .hero_breadcrumb{flex-direction: column;gap:10px;}
    .hero_breadcrumb span:nth-child(2),
    .hero_breadcrumb span:nth-child(4) {display: inline-block;transform: rotate(90deg);height:10px;}
    .title_30-raleway{font-size: 18px;line-height: 26px;}
    .stat_counter {font-size: 28px;line-height: 28px;}
    .stats_box {gap: 0px;}
    .comp_bus_child.expanded {height: 450px;}
    .swiper_number_pagination{font-size: 28px;line-height: 28px;margin-bottom: 20px;}
    .title_60lora {font-size: 30px;line-height: 34px;margin-bottom: 15px;}
    .title_24-raleway {font-size: 18px;line-height: 28px;}
    .stat_box_wrapper {grid-template-columns: repeat(1, 1fr);}
    .stats_box {padding: 30px 20px;}
    .home_brand_bg{margin-top: 20px;padding: 20px 0;}
    .core_wrapper .slick-slide {margin-inline: 10px;}
    .card_pill{width: fit-content;}
    .btn_wrapper{flex-direction:column;margin-top:30px;}
    .grow_wrapper{padding:50px 0;}
    .hero_cat{padding:50px 0 0;}
    .hero_cat_slider .swiper-wrapper{gap:0px;}
    .project-card {
        padding: 15px;
        max-height: 120px;
        min-height: 120px;
    }

    .project-card:not(.active) {
        max-height: 120px;
        min-height: 120px;
    }

    .project-card.active {
        max-height: 900px;
        min-height: 100%;
    }

    .card_title {
        font-size: 20px;
        line-height: 28px;
    }

    .card_desc {
        font-size: 12px;
        line-height: 16px;
    }

    .tags {
        grid-template-columns: repeat(3, 1fr);
    }
    .ym-project .tags:nth-of-type(2) {grid-template-columns: repeat(2, 1fr);}

    .card_pill,
    .p_type {
        font-size: 12px;
        padding: 6px 15px;
    }

    .project-card:not(.active) .category-img {
        max-width: 60px;
    }
    .stats_box{margin-top:0;gap:20px;}
    .stat_box_wrapper {gap: 25px;margin-top:15px;}
    .comp_bus_child.expanded, .comp_bus_child{height: 420px;}
    .comp_bus_back_bt{padding: 0;}
    .comp_bus_child .comp_bus_num {font-size: 24px;line-height: 24px;}
    .comp_bus_ext{padding-top: 15px;}
    .comp_bus_back img{margin-bottom: 15px;}
    .hero_why_wrapper {margin-top: 25px;}
    .why_slide .title_60lora {font-size: 30px;line-height: 30px;}
    .swiper-pagination {bottom: 20px !important;}
    .about-slider .swiper-pagination {bottom: 0px !important;width:100%!important;}
    .offcanvas.offcanvas-end {width: 100vw !important;padding: 30px;}
    .hero_overlay_ctnt {transform: translateY(0%);}
    .banner_head_section {padding-top: 70px;}
    .age_range_section{grid-template-columns: repeat(1, 1fr);}
    .products_filter_grid {column-gap: 5px;row-gap: 10px;}
    .ym_card{width: 195px;height:300px;}
    .product_wrapper .Product_item, .ym_card_img, .ym_slider, .ym_cover_slider, .product_img,  .ym_slider img{height: 260px;}
    .prod_list_title {height: 30px;}
    .prod_list_title h4 {font-size: 12px;}
    .prod_list_title p {font-size: 10px;}
    .ym_cover_slider{opacity: 0;visibility: hidden;}
    .ym_slider{opacity: 1;}
    .ym_slider.slick-dotted.slick-slider{margin-bottom: 0;}
    .ym_slider .slick-dots{background-color: #d7c7e9;}
    .ym_slider .slick-dots li button{width:48px;border-radius: 0;}
    .ym_slider .slick-dots li{width: 48px;}
    .ym_slider .slick-dots{gap:0;}
    .slider-wrapper {height: calc(100vh - 31vh);}
    .slid_pagination_number{margin:0;}
    .product-slider{padding:30px 0;}
    .product_detail_intro{height: auto;}
    .product_detail_intro .filter_banner {margin-bottom: 0px;}
    .range_table_head {margin-bottom: 10px;}
    .size_pop_head{font-size: 24px;line-height: 34px;}
    .size_pop .nav-link {padding: 10px 20px;}
    /* .ym_slider .slick-dots {bottom: -1% !important;} */
    .ym_card {width: 210px;height: 300px;}
    .pd_left .age_range_box{justify-content:center;}
    .filter_banner{line-height: 20px;font-size: 14px;}
    .product_head .lora_24{font-size: 15px;line-height: 24px;}
    #slideCounter{max-width: 35px;width:35px;display: inline-block;}
    .slid_bottom, .slid_pagination_number{right:10px;}
    .desk_grid{display: none;}
    .mobile_grid{display:block;}
    .ym-container {max-width: calc(100% - 30px);}
    .gallery-container{scale:1.2;transform: translate(-5%, 10%) rotate(-27deg);}
    .ym_hero .swiper-slide {width: 150px !important;height: 200px;}
    .hero_why_wrapper img{width:100%;height:auto;}
    .p_type{padding:6px 0;}
    .project-content .btn_wrapper{flex-direction:row;}
    .btn_1 {padding: 8px 16px;}
}
@media screen and (min-width: 377px) and (max-width: 429px) {
    .comp_bus_back {padding: 20px;}
    .slider-wrapper {height: calc(100vh - 32vh);}
    .ym-container.mob_ym_container{margin:0!important;}
    .ym_card {width: 190px;height: 300px;}
}
@media screen and (max-width: 376px){
    .hero_overlay_ctnt_h1 {font-size: 23px;line-height: 34px;}
    .ym_card {width: 170px;height: 220px;}
    .product_wrapper .Product_item, .ym_card_img , .ym_slider, .ym_cover_slider, .product_img,  .ym_slider img{height: 175px;}
    .ym_slider .slick-dots li button{width:42px;}
    .ym_slider .slick-dots li{width: 42px;}
    .slider-wrapper {height: calc(100vh - 34vh);}
}