* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-lore: "Lora", serif;
    --font-ralwway: "Raleway", sans-serif;
}

body {
    font-family: var(--font-ralwway);
    font-weight: 400;
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: "lnum", "tnum";
    font-size: 16px;
    line-height: normal;
}

a {
    text-decoration: none;
    color: unset;
}

.home_mt-100 {
    margin-top: 100px;
}

.yellow-gradient {
    background: linear-gradient(90deg, #fff 0%, #f8f3e8 49.04%, #fff 100%);
}

.btn_1 {
    padding: 20px 30px;
    font-weight: 600;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #452667;
    color: #452667;
    font-size: 16px;
    font-family: var(--font-ralwway);
    line-height: 16px;
    width: fit-content;
}

.ym_hero {
    overflow: hidden;
}

.ym-container {
    max-width: 1600px;
    margin-inline: auto;
}

.title_30-raleway {
    font-size: 30px;
    line-height: 48px;
}

.title_24-raleway {
    font-size: 24px;
    line-height: 36px;
}

.title_60lora {
    font-family: var(--font-lore);
    font-size: 60px;
    line-height: 64px;
    color: #2e2e2e;
}

/*.title_48lora {*/
/*    font-family: var(--font-lore);*/
/*    font-size: 48px;*/
/*    line-height: 50px;*/
/*}*/

/* ---------------hero css---------------------- */
.ym_hero_slider_wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background-color: #170030;
    z-index: 1;
}

.gallery-container {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    width: 160vw;
    height: 160vh;
    transform: translate(-15%, -6%) rotate(-27deg);
    scale: 1.2;
    transform-origin: center;
    z-index: 2;
}

.swiper-row {
    margin-bottom: 20px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.ym_hero .swiper-slide {
    width: 300px !important;
    height: 400px;
}

.image-card {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.swiper-wrapper {
    transition-timing-function: linear !important;
}

.hero_overlay {
    position: absolute;
    background-image: url(../img/Home/hero-bg.png);
    background-size: cover;
    inset: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    color: white;
    font-size: 20px;
    text-align: center;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero_overlay_ctnt {
    max-width: 1600px;
    margin-inline: auto;
}

.hero_overlay_ctnt_h1 {
    font-family: var(--font-lore);
    font-size: 90px;
    line-height: 100px;
    letter-spacing: -0.01em;
}

.hero_breadcrumb {
    display: flex;
    gap: 24px;
    margin-top:24px;
    align-items: center;
}

.hero_overlay_ctnt .btn_1 {
    background-color: white;
}

/* ---------------hero css---------------------- */

/* stats css */

.stat_box_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    text-align: center;
    height: 100%;
}

.stats_box {
    width: 350px;
    height: 290px;
    padding: 40px 65px;
    display: grid;
    gap: 10px;
    box-shadow: 0px 20px 20px rgba(69, 38, 103, 0.15);
    /*border-radius: 10px;*/
    border: 1px solid #d7c7e9;
    margin-top: 60px;
}

.stats_border {
    width: 45px;
    height: 1px;
    background-color: #d7c7e9;
    display: block;
    margin-inline: auto;
}

.stat_counter {
    font-family: var(--font-lore);
    font-size: 72px;
    line-height: 64px;
    color: #452667;
}

/* stats css */
/* house of brands */

.home_brand_bg {
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 50px 0;
}

.grow_wrapper {
    padding: 100px 0;
    text-align: center;
}

.btn_wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

/* house of brands */
/* trusted */
.core_wrapper {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.comp_bus_child {
    border: 1px solid #d7c7e9;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    flex: 1;
    height: 280px;
}

.comp_bus_child.expanded,
.comp_bus_child:hover {
    flex: 2.5;
    height: 450px;
    /*max-width: 420px;*/
    padding: 37px 0px 30px 46px;
    /*border-radius: 10px;*/
    z-index: 10;
}

.comp_bus_front {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
}

.comp_bus_fronts {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.comp_bus_front img {
    border-radius: 5px;
    margin-bottom: 15px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.comp_bus_num {
    color: #452667;
    font-family: var(--font-lore);
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.comp_bus_child.expanded .comp_bus_num,
.comp_bus_child:hover .comp_bus_num {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 0;
}

.comp_bus_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    padding: 37px 44px 30px 46px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.comp_bus_child.expanded .comp_bus_front,
.comp_bus_child:hover .comp_bus_front {
    opacity: 0;
}

.comp_bus_child.expanded .comp_bus_back,
.comp_bus_child:hover .comp_bus_back {
    opacity: 1;
}

.comp_bus_back img {
    /* border-radius: 10px; */
    margin-bottom: 30px;
}

.comp_bus_back_bt {
    text-align: left;
}

/* Shimmer effect */
.comp_bus_child::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.3),
            transparent);
    transition: left 0.6s;
}

.comp_bus_child.expanded::before,
.comp_bus_child:hover::before {
    left: 100%;
}

.comp_bus_ext {
    color: #4a4a4a;
    font-family: var(--font-ralwway);
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.01em;
    position: relative;
    padding-top: 30px;
    margin-top: 20px;
}

.comp_bus_ext::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 40px;
    background-color: #d7c7e9;
}

/* trusted */
/* why css */
.hero_why_wrapper {
    margin-top: 60px;
}

.why_slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 14px;
}

.why_slide .title_60lora {
    font-size: 40px;
    line-height: 44px;
}

.hero_why_content {
    max-width: 750px;
    max-height: 450px;
    height: 100%;
    width: 100%;
    transform: translate(-20%, 0%);
    background-color: #fff;
    /*border-radius: 10px;*/
    padding: 70px;
    box-shadow: 0px 20px 20px rgba(69, 38, 103, 0.15);
}

.swiper-pagination {
    bottom: 0px !important;
    width: fit-content !important;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 8px;
    border-radius: 10px;
    background-color: #e7d2ff;
    opacity: 1;
    transition: all 0.3s ease-in;
}

.swiper-pagination-bullet-active {
    width: 30px;
    background-color: #452667;
    transition: all 0.3s ease-out;
}

.swiper_number_pagination {
    display: flex;
    gap: 5px;
    font-family: var(--font-lore);
    font-size: 38px;
    color: #d7c7e9;
    line-height: 38px;
    margin-bottom: 40px;
}

/* why css */

/* category */
.hero_cat {
    padding: 100px 0;
}

.hero_catologue_head {
    margin-bottom: 50px;
    text-align: center;
    margin-inline: auto;
}

/*.hero_cat_slider .swiper-slide{margin-right:50px;}*/
/* category */

/* card css */
.projects-desktop {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    justify-content: center;
}

.project-card {
    max-height: 700px;
    min-height: 700px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    padding: 30px;
    text-align: left;
    transition: flex 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    position: relative;
}

.project-card:not(.active) .card_top {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.project-content {
    flex-direction: column;
    display: none;
    transform: translateX(50%);
    transition: all 0.8s ease-in;
}

.project-card.active .card_top_head {
    display: none;
    transition: all 0.5s ease;
}

.project-card.active .project-content {
    display: flex;
    transform: translateX(0%);
    transition: all 0.8s ease-out;
}

.card_title {
    font-family: var(--font-lore);
    color: #2e2e2e;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
}

.card_desc {
    font-family: var(--font-ralwway);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    margin-bottom: 40px;
}

.card_subtitle {
    font-family: var(--font-ralwway);
    color: #452667;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: -0.01em;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.card_subtitle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 40px;
    background-color: #d7c7e9;
}

.card_pill {
    font-family: var(--font-ralwway);
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.01em;
    padding: 10px 25px;
    border-radius: 200px;
    background-color: white;
    color: black;
}

.tags {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    gap: 15px;
    margin-bottom: 30px;
}

/* card css */
/* gender slider */
/* Main Layout Container */
.container_main_boy {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 99px;
}

.container_main_girl {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    gap: 99px;
}

/* Left Column Styling */
.col_small {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 40px;
    /*max-width:430px;*/
    width: 100%;
}

.col_small .title_60lora {
    margin-bottom: 20px;
}

.col_big .product_grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 350px));
    /* 3 Columns */
    row-gap: 30px;
    column-gap: 15px;
    margin-top: 10px;
}

/* gender slider */

.ym-project .btn_wrapper {
    justify-content: flex-start;
}

.ym-project .btn_wrapper a {
    padding: 10px 20px;
}

.global_tab_item .nav-link.active {
    background-color: #e7d2ff;
}

.global_presence_tab .nav-tabs .nav-link.active::before,
.global_presence_tab .nav-tabs .nav-link.active::after {
    background-color: #e7d2ff;
    /* Added the missing '#' for the hex code */
}

/* ================= ym CARD ================= */
.ym_card {
    width: 390px;
    height: 510px;
    /* border: 1px solid red; */
    overflow: hidden;
    /* 🔥 prevents overflow */
    background: #fff;
    position: relative;
    transition: 0.3s;
}

.ym_card_img {
    position: relative;
    overflow: hidden;
    height: 450px;
    /* 🔥 prevents slider overflow */
}

.ym_cover_slider {
    position: absolute;
    inset: 0;
    object-fit: contain;
    height: 450px;
    width: 100%;
}

.ym_slide_img {
    width: 450px;
    object-fit: contain;
    background-color: #f7f7f7;
}

/* Hide arrows by default */
.ym_card_img .slick-arrow {
    opacity: 0;
    transition: 0.3s;
    z-index: 2;
}

/* Show arrows on hover */
.ym_card:hover .slick-arrow {
    opacity: 1;
}

/* Hide slider initially */
.ym_slider {
    opacity: 0;
    transition: 0.3s ease;
}

/* Show slider on hover */
.ym_card:hover .ym_slider {
    opacity: 1;
}
.ym_card:hover .ym_cover_slider{
    opacity:0;
}

/* Image styling */
.ym_slider img {
    width: 100%;
    display: block;
    background: linear-gradient(0deg, #FBFBFB 0%, #FBFBFB 100%), linear-gradient(134deg, #FFF 9%, #DDD 93.94%);
}

.ym_info {
    height: 20px;
    text-align: center;
}

.ym_prod_name {
    font-family: var(--font-ralwway);
    font-size: 18px;
    line-height: 17px;
    font-weight: 500;
    color: #2e2e2e;
    margin-top: 10px;
    margin-bottom: 0;
}

.ym_slider .slick-prev:before,
.ym_slider .slick-next:before {
    /* font-family: sans-serif; */
    opacity: 1;
    color: #111;
}

.ym_slider .slick-prev:before {
    content: "<";
}

.ym_slider .slick-next:before {
    content: ">";
}

.ym_slider .slick-prev {
    left: 0px;
    top: 35%;
}

.ym_slider .slick-next {
    right: 0px;
    top: 35%;
}

.ym_slider .slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    /* gap: 8px; */
    padding: 0;
    bottom: 27% !important;
}

.ym_slider .slick-dots li {
    margin: 0 !important;
    padding: 0 !important;
    width: 126px;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
}

.ym_slider .slick-dots li button:before {
    display: none;
}

.ym_slider .slick-dots li button {
    width: 126px;
    height: 5px;
    background-color: #d7c7e9;
    padding: 0;
    transition: all 0.3s ease;
}

.ym_slider .slick-dots li.slick-active button {
    height: 5px;
    background-color: #452667;
    border-radius: 0px;
    transition: all 0.3s ease;
    cursor: none;
}

.prod_list_title {
    height: 50px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prod_list_title h4 {
    font-size: 18px;
}

/* ================= ym CARD ================= */

/* inquiry form css  */
.enquiry_body {
    position: relative;
    padding: 0;
}

.enquiry_body .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    filter: invert(1);
    opacity: 1;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: none;
}

.project-card.active .enquire-circle {
    display: none;
}

/* inquiry form css  */
.project-card.active .enquire-circle {
    display: none;
}

/* brand grid image */
.brand-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    border: 1px solid #ddd;
    overflow: hidden;
    background: #fff;
}

.brand-cell {
    position: relative;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    cursor: pointer;
    background: linear-gradient(0deg, #FBFBFB 0%, #FBFBFB 100%), linear-gradient(134deg, #FFF 9%, #DDD 93.94%);
}

.brand-cell:nth-child(3n) {
    border-right: none;
}

.brand-cell:nth-child(n+4) {
    border-bottom: none;
}

/* The image wrapper — this rotates together with overlay */
.brand-inner {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-img {
    object-fit: contain;
    display: block;
    transition: opacity 0.6s ease;
}

.brand-img.fade-out {
    opacity: 0;
}

/* Overlay */
.brand-overlay {
    position: absolute;
    inset: 0;
    background: #d7c7e99e;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.35s ease;
    pointer-events: none;
}

.brand-overlay span {
    color: #452667;
    font-size: clamp(13px, 1.5vw, 18px);
    font-weight: 600;
    text-align: center;
    padding: 0 12px;
    padding-bottom: 15px;
}

/* Desktop hover */
@media (min-width: 1240px) {
    .brand-cell:hover .brand-overlay {
        opacity: 1;
    }
}

/* Mobile tap */
.brand-cell.tapped .brand-overlay {
    opacity: 1;
}

@media (max-width: 600px) {
    .brand-grid {
        grid-template-columns: repeat(1, 1fr);
        border: 1px solid #ddd;
    }

    .brand-cell {
        border-bottom: 1px solid #ddd;
        border-right: none;
    }

    .brand-cell:last-child {
        border-bottom: none;
    }

    .brand-cell:nth-child(n+4) {
        border-bottom: 1px solid #ddd;
    }
}

/* brand grid image */
/* .iti__selected-dial-code {
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: "lnum", "tnum";
} */
.iti .iti__selected-dial-code{font-family:"Lora", serif;}

.hero_img_wrapper img {
    height: 500px;
}