/* slider css */
.product-slider {
    max-width: 100vw;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 50px;
}

.slider-wrapper {
    position: relative;
    height: 90vh;
    background: #fff;
    overflow: hidden;
}

.slides-track {
    position: absolute;
    inset: 0;
}

.slide {
    position: absolute;
    top: 0;
    height: 100%;
    transition:
        left 0.7s cubic-bezier(0.32, 0.72, 0, 1),
        width 0.7s cubic-bezier(0.32, 0.72, 0, 1);
    overflow: hidden;
}

.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: default;
    user-select: none;
}

.image-container.zoomed {
    cursor: move;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.2s ease-out;
    transform: translate(0, 0) scale(1);
    transform-origin: 0 0;
}

/* Navigation arrows */
.slid_bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}
.slider_btn {
    width: 34px;
    height: 34px;
    background: rgba(255, 255, 255, 0.92);
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.slider_btn:hover {
    background: white;
}

.slider_btn.prev {
    left: 20px;
}

.slider_btn.next {
    right: 20px;
}

.thumbnails {
    display: flex;
    gap: 0px;
    justify-content: center;
    flex-wrap: nowrap;
}

.thumb {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.25s;
}

.thumb.active {
    border-color: #000;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 1199px) {
    .slide {
        transition: left 0.55s ease;
    }
}

/* slier css */
.product_detail_grid {
    display: grid;
    grid-template-columns: 600px 600px;
    justify-content: space-between;
}

.pd_name {
    padding-bottom: 20px;
    border-bottom: 1px solid purple;
    margin-bottom: 40px;
}

.range-table {
    border-radius: 0;
}

.range-table td {
    border: 1px solid black;
    padding: 8px 24px;
}

.pd_note {
    font-size: 14px;
    margin: 8px 0 30px;
}

.pd_left .age-card {
    text-align: center;
}

.fs_18 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.05em;
}

.pd_left .age_range_box {
    padding: 16px 25px;
}

.get-price {
    display: inline-block;
    width: 100%;
    background-color: #2e2e2e;
    padding: 23px 0;
    color: white;
    text-align: center;
}

.pd_right .accordion-item:before {
    background: #00000026;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.pd_right .accordion-item {
    border: unset;
    position: relative;
    padding-bottom: 12px;
}

.pd_right .accordion-item:after {
    transition: width 0.8s cubic-bezier(0.5, 0, 0, 1) 0s;
    background: var(--wb-purple);
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 0;
}

.pd_right .accordion-item:hover:after {
    width: 100%;
}


/* bottom slider arrow snad dots */
.simple-slider .slick-next:before, .simple-slider .slick-prev:before,
.simple-slider .slick-next:before, .simple-slider .slick-prev:before
{
    opacity: 1;
    color: #333;
}
.simple-slider .slick-prev{
    left:25px;
    z-index: 99;
}
.simple-slider .slick-next{
    right:25px;
    z-index: 99;
}
/* slick slider dots */
.slick-dotted.slick-slider {
  margin-bottom: 40px;
}

.slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0;
  bottom: -40px !important;
}

.slick-dots li {
  margin: 0 !important;
  padding: 0 !important;
  width: 30px;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li button {
  width: 30px;
  height: 2px;
  background-color: #eeee;
  padding: 0;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active button {
  height: 3px;
  background-color: #111;
  border-radius: 100px;
  transition: all 0.3s ease;
  cursor: none;
}

/* slick slider dots */
/* bottom slider arrow snad dots */