  @media screen and (max-width:1800px){
     .container-fluid {max-width: 1560px;}
    .banner_img_1 {width: 170px;}
        .banner_img_2 {width: 210px;}
         .banner_img_3 {width: 240px;}
        .banner_img_4 {width: 160px;}
        .header_title{font-size: 38px;}
     }
     @media screen and (max-width:1600px){
         .ym-container{max-width: 1460px;}
         .right_breadcrumb {width: 420px;}
         .flg_itemlist {grid-template-columns: repeat(5, 1fr);}
         /*.global_presence_tabcontent{ margin-top: -100px;}*/
         .global_presence_tabcontent .tab-pane { margin-top: -100px;}
         .vision_text{    bottom: 40px;}
         .heder_section { padding-top: 10px; padding-bottom: 10px;}
          /*.nav_logo { width: 60px;}*/
        .cloth_drower_height {height: 184px;}
    .container-fluid {max-width: 1460px;}
     }
     @media screen and (max-width:1441px){
         .right_breadcrumb p {font-size: 12px;}
         .right_breadcrumb {width: 400px;margin-right: 6%;}
         .flg_item img{ width: 26px;}
         .flg_text {font-size: 14px;}
         .flg_item{margin-bottom: 15px;}
         .mean_head {margin-bottom: 10px;}
         .our_valuea_card {gap: 30px;padding: 20px 20px;}
        .goal_crad{    padding: 30px 25px;}
        .goal_crad h2{font-size: 30px;    line-height: 36px;}
        .global_presence_tab .nav-tabs .nav-link{      padding: 0px 12px;  font-size: 25px;}
        .global_tab_africa {top: 142px; right: 48%;}
         .global_tab_east {top: 106px; right: 43%;}
          .global_tab_asia {top: 44px; right: 35%}
        
        .title_36 {font-size: 32px;}
        .hover_banner_1::after ,.hover_banner_2::after ,.hover_banner_3::after ,.hover_banner_4::after {
               font-size: 30px;
        }
            .cloth_drower_height {height: 162px;}
             /* .what_work_bg{ padding: 20px 20px 20px 20px;} */
      body{font-size: 14px !important;}
        .header_title{font-size: 35px;}
           .container-fluid {max-width: 1300px;}
           .container{max-width: 1130px !important;}
             .mean_head{    font-size: 50px;line-height: 54px;}
        /*     .banner_img_1 {width: 150px; margin-top: 60px;}*/
        .banner_img_2 {width: 167px;}
         .banner_img_3 {width: 190px;}
        /*.banner_img_4 {width: 130px; margin-top: 60px;}*/
        .card_overlay{padding: 26px;}
        .f_48{    font-size: 42px;line-height: 46px;}
        .map_img{width: 70%;}
        .map-circle{    width: 180px; height: 180px;padding: 20px;    margin-left: 5%;}
        .map-circle-location {align-items: flex-end;}
        .map-location-text {font-size: 18px; line-height: 27px;
}
     } 
         @media screen and (max-width:1280px){
                 .right_breadcrumb { width: 355px;}
                 .product_banner_breadcrumb { bottom: 8%;}
             .right_breadcrumb{    font-size: 12px;}
                /*.global_presence_tabcontent { margin-top: -70px;}*/
                .global_presence_tabcontent .tab-pane { margin-top: -70px;}
            .cloth_drower_height {height: 140px;}
            .what_work_bg{ padding: 20px 20px 10px 20px;}
            .drower_text {font-size: 20px;line-height: 26px;}
          .header_title{font-size: 30px;}
        .container-fluid {max-width: 1150px;}
        body{font-size: 14px !important;}
        .section_mt { margin-top: 50px;}
        .section_pt{padding-top: 50px;}
        .section_mb { margin-bottom: 50px;}
        .mean_head{    font-size: 46px;line-height: 50px;}
        .glimpse_section .mean_head{font-size: 50px;line-height: 50px;}
        .product_card_title{    font-size: 18px;}
        /* .banner_img_1 {width: 140px; }*/
        .banner_img_2 {width: 167px;}
         .banner_img_3 {width: 190px;}
         /* .banner_img_4 {width: 125px; } */
        .product_item_details{padding: 12px; padding-top: 15;}
        .card_overlay{ padding: 10px;}
        .trendsetters_title{    font-size: 28px; }
        .goal_crad h2{font-size: 22px;}
         .f_48{    font-size: 38px;line-height: 42px;}
     } 
     @media screen and (max-width:1120px){} 
     @media screen and (max-width:992px){
          .simple-slider .product_wrapper {
    margin: 0 10px; 
}
         .sidemenu .nav-link svg{    opacity: 1;
    visibility: visible;}
             .goal_crad h2 { font-size: 20px; line-height: 26px;}
          .global_presence_tabcontent {
        display: none;
      }
      .modal-body .flg_itemlist {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
      }
      .modal-body .flg_item {
        width: 30%;
        text-align: center;
      }
         .section_mt { margin-top: 30px;}
      .section_pt { padding-top: 30px;}
      .section_mb { margin-bottom: 30px;}
             .mean_head ,     .glimpse_section .mean_head{
        font-size: 36px;
        line-height: 42px;
    }
          .herobanner_img{    width: 240px;}
             .section_pt {
        padding-top: 30px;
    }
         .breadcrumb {margin-bottom:5px;}
         .text_ft_items{display: flex;flex-wrap: wrap;}
         .ft_menu_title {margin-bottom: 10px;}
         .brand_logo{width: 150px;}
         .mission_text {position: relative;}
         .vision_text {position: relative; bottom: unset;}
         .mission_vision{
             display:grid;
         }
            .global_presence_tab .nav-tabs .nav-link { padding: 0px 8px; font-size: 17px;}
        .global_tab_asia {top: 33px; right: 40%;}
            .global_tab_africa {top: 100px;right: 72%;}
                .global_tab_east { top: 77px;right: 61%;}
        .global-presence::before {border-top-left-radius: 0;border-top-right-radius: 0;}
         /*.swiper-wrapper{padding-bottom:30px;}*/
    .product_item_details {
              padding-top: 20px;
    opacity: 1;
    visibility: visible;
    border: none !important;
    transform:none;
    position: relative;
     }
   }
    @media screen and (min-width:992px){
      .product_wrapper:hover .product_card {
          border-radius: 10px 10px 0px 0px;
          /* margin: -1px; */
          /* border-left: 1px solid #000;
          border-right: 1px solid #000;
          border-top: 1px solid #000; */
          /* border: 1.112px solid #4A4A4A; */
          background: #FFF;
          position: relative;
          z-index: 2;
      }

      /* .product_wrapper:hover .product_item_details {
          transform: translate(0, 0%);
          opacity: 1;
          visibility: visible;
      } */
      .product_wrapper:hover .product_card_slider {
          /* transform: scale(0.85); */
              /* transform: scale(1.1); */
          position: relative;
      }
      .product_wrapper .product_card_slider:hover .slick-current {
          /* transform: scale(0.85); */
              transform: scale(1.1);
      }

      .product_wrapper:hover .slick-arrow {
          opacity: 1;
      }
   }
     @media screen and (max-width:768px){
         .right_breadcrumb{width: 100%;
        margin-right: 0px;}
         .product_tab .nav-tabs .nav-link{    padding: 10px 10px;}
         .product_tab .product_tab_item { gap: 10px;}
         .product_banner_breadcrumb {bottom: 10%;}

         .insta_img{width: 45px;}
         .goal_crad {padding: 20px 20px;}
             .nav_logo {width: 45px;}
         .trendsetters_img{width: 100px !important;}
         .herobanner_img{    width: 100px;}
      .address_title {gap: 10px;}
      .contact_wrapper { padding: 30px 25px;}
      .f_24{    font-size: 20px;}
         
         .product_card_slider img {
    width: 100% !important;
    display: block;
}

         /*.product_img {width:320px; height:320px;}*/
      .product_wrapper .slider_arrows .slick-next {right: 3%;left: auto;}
      .product_wrapper .slider_arrows .slick-prev{left: 3%;right: auto;}
      .slider_arrows .slick-prev::before, .slider_arrows .slick-next::before{width: 19px;    height: 13px;background-position: center;}
      .product_wrapper .slick-arrow {opacity: 1;              border-radius: 50%;   background-color: white;}
      .navbar-flex{display: flex; flex-direction: column;align-items: center;}
          .heder_section {padding-top: 10px;padding-bottom: 20px;}
      .header_title {font-size: 30px; margin-top: 10px;}
      .glimpse_section{    margin-bottom: 10px;}
      .why_choose_wrapper{position: relative;transform: translateY(0);}
      .why_choose{    padding: 16px;background-color:transparent;}
      .mt-100{    margin-top: -5%;}
          .trendsetters_title { font-size: 22px;}
          .card_overlay { padding: 26px;}
      .navbar-brand{width: 100px;}
      .ft_logo{    width: 265px;}
      .footer_section {padding-bottom: 30px;}
      .map_section_right , .map_section_left , .map_section_top{position: relative;}
      .mean_head ,     .glimpse_section .mean_head{
        font-size: 32px;
        line-height: 40px;
    }
     }
   @media (max-width: 1920px) and (min-width: 1700px)  {
    
    .cloth_drower_height2{
     height: 245px;

    }
    .grid-layout {

    align-items: stretch;

}
      .container {
      max-width: 1460px !important;
}

  }

